/* Navigation */

nav {
	background-color: teal;
	opacity: 0.8;
	nav: fixed;
	top: 0;
	position: fixed;
	width: 100%;
	max-width: 960px;



}
nav ul li {
	display: inline;
	margin: 0 0 0 0 ;
}

nav a {
	text-decoration: none;
	color: white;
}

nav a:hover {
	text-decoration: none;

}

nav ul li {
	text-align: center;
}

nav ul li a {
	font-size: 14pt;
}

	
@media (min-width: 400px) {
	nav {
		max-width: 960px;
	}






/* Checks

nav ul {
	background-color: blue;
}
nav ul li {
	background-color: red;
}
nav ul li a{
	background-color: yellow;
}

.one-half.column {
	background-color: green;
}
.one-third.column




*/


